body{
    background-color: #ffffff;
}

form{
    /* border: solid 2px #000; */
    background-color: #b9eaff;
    margin-top: 10rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 35rem;
    border-radius: 15px 15px 15px 15px;

    box-shadow: 0px 0px 30px 20px #727272;

}

input[type="submit"]{
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #0c992380;
}

input[type="submit"]:hover{
    background-color: #ffffff;
    border: solid 2px #000;
    color: #000;
    cursor: pointer;
    transform: scale();
    width: 6rem;
}

select, input[type="number"]{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 10rem;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #000000;
}